{salutation}

Sie erhalten diese automatische E-Mail, da für Ihr StudOn-Benutzerkonto {login} wieder Daten aus dem IdM-System der FAU übermittelt werden. Damit können Sie den zentralen Anmeldedienst der FAU nutzen und Ihr StudOn-Konto wurde entsprechend umgestellt.

Sie müssen Sich ab jetzt bei StudOn via Single Sign-On anmelden. Dazu verwenden Sie bitte Ihre IdM-Kennung {ext_account} und das dazugehörige Passwort.

Falls Ihr StudOn-Konto deaktiviert war, wurde es wieder aktiviert. Eventuell müssen Sie noch einmal den Nutzungsbedingungen zustimmen.

Mit freundlichen Grüßen
Ihr StudOn-Team
