<!-- fau: loginForm - adapt to the standard login form, e.h. same header level. -->
<form method="post" name="samllogin" class="il-standard-form form-horizontal" role ="form">
	<div class="il-standard-form-header clearfix">&nbsp;</div>
	<div class="il-section-input">
		<div class="il-section-input-header">
			<!-- <h2>{TXT_SAML_LOGIN_TXT}</h2> -->
			<div class="il-section-input-header-byline">
				{TXT_SAML_LOGIN_INFO_TXT}
			</div>
		</div>
	</div>
	<div class="il-standard-form-footer clearfix">
		<div class="il-standard-form-cmd">
			<a class="submit btn btn-default" href="{SAML_SCRIPT_URL}">{TXT_LOGIN}</a>
		</div>
	</div>
</form>