<!-- BEGIN nested_terms -->
<span id="{ID}">{VALUE}</span>
<!-- BEGIN hidden --><input type="hidden" name="{NON_EDITABLE_ID}" value="{HVALUE}" /><!-- END hidden -->
<!-- END nested_terms -->

<!-- BEGIN nested_pictures -->
<span id="{ID}">
    <!-- fim: [bugfix] add height to nested ordering of pictures -->
    <img border="0" src="{PICTURE_HREF}" height="20px" alt="{THUMB_ALT}" title="{THUMB_TITLE}" />
    <!-- fim. -->
</span>
<!-- BEGIN hidden --><input type="hidden" name="{NON_EDITABLE_ID}" value="{HVALUE}" /><!-- END hidden -->
<!-- END nested_pictures -->
