<!-- fau: retryPage - template for page script. -->
<script type="text/javascript">

    var running = false;
    var endTime = null;
    var timerID = null;
    var totalSeconds = parseInt('{RELOAD}');

    function startTimer() {
        running = true
        now = new Date()
        now = now.getTime()
        endTime = now + (1000 * totalSeconds);
        showCountDown()
    }

    function showCountDown() {
        var now = new Date()
        now = now.getTime()
        if (endTime - now <= 0) {
            clearTimeout(timerID);
            running = false;
            document.form1.submit();
        } else {
            var delta = new Date(endTime - now);
            var theMin = delta.getMinutes();
            var theSec = delta.getSeconds();
            var theTime= theSec;
            document.getElementById('SessionTimeCount1').innerHTML = theTime;
            document.getElementById('SessionTimeCount2').innerHTML = theTime;
            if (running) {
                timerID = setTimeout("showCountDown()",900);
            }
        }
    }

    function showDetails() {
        document.getElementById('details').style.display = 'block';
    }

    function newTrial(){
        document.form1.submit();
    }

    startTimer();
</script>