<div>
	<p>{TXT_WELCOME}<br />{TXT_REGISTERED}</p>
	<!-- fau: regCodes - extended page -->
	<!-- BEGIN activation -->
	<form action="{FORMACTION}" {TARGET} method="post">
	<input type="hidden" name="cmd[{COMMAND}]" value="1" />
	<input type="hidden" name="password" value="{PASSWORD}" />
	<input type="hidden" name="username" value="{USERNAME}" />
	<input class="btn btn-default" type="submit" value="{TXT_LOGIN}" />
	</form>
	<!-- END activation -->
	<!-- BEGIN redirect -->
	<script type="text/javascript">
	setTimeout(function() {
		window.location.href = '{TIMEOUT_URL}';
	}, 60000);
	</script>
	<!-- END redirect -->
	<!-- fau. -->
	{LOGIN_LINK}
</div>