<!-- fau: testStatement - new template. -->
<ul>
    <li>I confirm that I will complete this examination by myself and using only the resources permitted. I will not seek unauthorised assistance during the examination and I will not communicate with anyone other than the examiner while the examination is in progress.</li>
    <li>I am aware that the examination will be graded as 5.0 (= ‘nicht ausreichend / unsatisfactory’ or ‘ nicht bestanden / fail’) if I influence or attempt to influence the result of the examination by deception or use of unauthorised resources and that I can be excluded from taking part in further examinations in serious cases.</li>
    <li>I understand that I must report any technical problems to the examiner immediately through the specified communication channel.</li>
</ul>
