#user_idp_iddicon{
    display: none;
}

#wayf_remember_checkbox_div{
    display: none;
}

#vhb_kurse_text_url{
    display: none;
}

#wayf_div{
    border-style:none !important;
}

#wayf_logo_div{
    text-align: center !important;
}

#wayf_logo {
    max-width: 25%;
}

#wayf_submit_button{
    text-align: center !important;
    float: left !important;
    margin-top: 1em !important;
    border: none !important;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 1px 7px 0 rgba(0,0,0,.12),0 3px 1px -1px rgba(0,0,0,.2);
    background-color: #213a8f !important;
    color: #fff !important;
    height: 3em;
}

#wayf_intro_label{
    margin-top: 1em;
    font-weight: 500;
    font-size: 15px !important;
}

#IdPList{
    margin-top: 3em;
}

#user_idp_iddtext{
    width: 100% !important;
    height: 3.3em !important;
    padding-left: 1em !important;

}
