@import "../../../../templates/default/delos";
// Import Custom Less Files here
@import "StudOn-variables.less";

// fau: studonSkin - additional or changed styles

// set half transparent background for tiny in page editor
html.il-no-tiny-bg body#tinymce {
	background-color: rgba(255,255,255,0.5);
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/* fau: fixLmErrorTextSelected - add class for selected words */
.ilc_qetitem_ErrorTextSelected {
	background-color: #9bd9fe;
}
a.ilc_qetitem_ErrorTextSelected{
	text-decoration: none;
}
/* fau. */

// fau.


