{salutation}

Sie erhalten diese automatische E-Mail, da für Ihr StudOn-Benutzerkonto {login} keine Daten aus dem IdM-System der FAU mehr übermittelt werden und damit für Sie kein Single Sign-On mehr möglich ist.

Um Ihnen die Möglichkeit zu geben, noch länger auf Ihre StudOn-Inhalte zuzugreifen, haben wir Ihr StudOn-Konto entsprechend umgestellt:

- Sie müssen sich nun bei StudOn lokal anmelden.
- Ihr StudOn-Konto hat Gast-Status und Sie können keinen Kursen mehr eigenständig beitreten.
- Ihr StudOn-Zugang wurde auf ein Jahr befristet wird am {limit} deaktiviert.

Da StudOn Ihr IdM-Passwort nicht übernehmen konnte, müssen Sie selbst ein neues Passwort vergeben. Rufen Sie dazu die Funktion „Passwort vergessen?“ auf, die Sie auf der Login-Seite von StudOn im Aufklappfeld „Bei StudOn lokal anmelden“ finden. Dort müssen Sie Ihren StudOn-Benutzernamen sowie die E-Mail-Adresse eingeben. Sie erhalten an diese Adresse eine E-Mail mit dem Link zur Wahl eines neuen Passworts.

Wenn später wieder ein Single Sign-On möglich ist, wird Ihr StudOn-Konto automatisch darauf umgestellt. Sie werden darüber erneut per E-Mail benachrichtigt.

Mit freundlichen Grüßen
Ihr StudOn-Team
