{salutation}

You are receiving this automatic e-mail because no more data is being transmitted from FAU's IdM system for your StudOn user account {login} and thus single sign-on is no longer possible for you.

In order to give you the opportunity to access your StudOn content for a longer period of time, we have changed your StudOn account accordingly:

- You must now log in to StudOn locally.
- Your StudOn account has guest status and you can no longer join courses independently.
- Your StudOn access has been limited to one year will be deactivated on {limit}.

Since StudOn could not take over your IdM password, you will have to assign a new password yourself. To do this, call up the "Forgot your local password?" function, which you will find on the StudOn login page in the "Local Login to StudOn" drop-down box. There you have to enter your StudOn user name as well as the e-mail address. You will receive an e-mail to this address with a link to choose a new password.

If single sign-on is possible again later, your StudOn account will automatically be switched to it. You will be notified of this again by e-mail.

With best regards
Your StudOn team

